<h1>Edinting Book</h1>
<%= form_with model:@book, url:"/books/#{@book.id}", local:true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_area :body %><br>
  <%= f.submit 'Update Book' %>
<% end %>